<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

<div id="app">
    姓：<input type="text" v-model="firstName"><br>
    名：<input type="text" v-model="lastName"><br>

    全名：<span>{{fullName}}</span><br>
</div>

<script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
        data: {
            firstName: 'zhang',
            lastName: 'san',
        },
        computed: {
            // 计算属性不需要修改时，可以简写
            fullName() {
                return this.firstName + ' ' + this.lastName;
            }
        }
    })

    vm.$mount('#app')
</script>

</body>
</html>